* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "MuseoModerno", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}
body {
    padding-top: 50px;
    background-color: #524f4f;
}